body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: url('public/umbrella.jpg');
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.mainContainer {
    margin-top: 10vh;
}

#mainHeader {
    font-weight: 700;
    font-size: 50px!important;
    color: #f8f9fa;
    margin: 20px 10px
}

.searchInput {
    max-width: 600px;
    margin: 0 auto;
}

.currentContainer {
    margin: 30px;
    color: #fff;
    font-weight: 600
}

.weatherCard {
    background-color: #ffffff61!important;
}